#hai{
    color: aqua;
}

.navbar{
    border: 3px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    gap: 70px;
    text-decoration: none;
    border-radius: 10px;
    background-color: rgb(150, 58, 58);

}
